.wrapper {
  min-width: 100vw;
  position: fixed;
  top: 15vh;
  height: 8vh;
  border-bottom: 1px solid #caccd1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 9998;
  background-color: #f3f4f7;
}

.wrapper p {
  font-size: 3vh;
  color: #037ef3;
  padding: 0.25vh 0.5vw;
  transition: 0.3s ease-in;
  border-radius: 10px;
}

.wrapper p:first-child {
  margin-left: 5vw;
}

.wrapper select {
  position: absolute;
  right: 0;
  margin-right: 5vw;
  border: 1px solid #037ef3;
  border-radius: 10px;
  padding: 0 4px;
  color: #037ef3;
  outline: none;
  background: white;
  cursor: pointer;
  font-size: 3vh;
}

.defaultTab {
  cursor: pointer;
}

.defaultTab:hover {
  text-decoration: underline;
}

.activeTab {
  background-color: #037ef3;
  color: white !important;
}
