.wrapper {
  background-color: white;
  border: 1px solid #caccd1;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 1vh 0.5vw;
  height: max-content;
}

.head {
  position: relative;
}

.head img {
  width: 17vw;
  cursor: pointer;
}

.head .headRating {
  position: absolute;
  top: 1vh;
  right: 1vh;
  color: #037ef3;
  background-color: white;
  border-radius: 3px;
  padding: 1px 4px;
}

.head .headDate {
  position: absolute;
  left: 1vh;
  bottom: 2vh;
  padding: 1px 4px;
  color: white;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.body {
  width: 17vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.bodyText {
  width: 14vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0.5vw;
}

.btTitle {
  display: inline-block;
  width: 14vw;
  font-size: 2.5vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.btTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}

.itemGenres {
  width: 14vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1vh;
}

.itemGenres p {
  font-size: 1.75vh !important;
  color: lightslategrey;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.itemGenres p:not(:first-child) {
  margin-left: 0.15vw;
}

.control {
  width: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 3vh;
  z-index: 9997;
}

.control p {
  cursor: pointer;
  color: #037ef3;
}

.removeIcon {
  color: orangered !important;
}

@media screen and (max-width: 500px) {
  .wrapper {
    height: max-content;
    width: 30vw;
    margin: 1vh 2vw;
  }
  .head img {
    width: 30vw;
  }
  .body {
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .bodyText,
  .btTitle {
    width: max-content;
    margin-left: none;
    margin: 0 auto;
  }
  .itemGenres {
    display: none;
  }
  .control {
    font-size: 5vh;
    width: max-content;
    align-self: center;
  }
}
